<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <style>
        .btn {
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }
        #exit {
            color: #ff0000;
        }
        #exit:hover {
            color: #b30000;
        }
        .toggle_div {
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 999;
            padding: 15%;
        }
    </style>
</head>

<body id="page-top">
    <div id="toggle_div_category" class="toggle_div" align="center">
        <div align="left" style="padding: 20px; width: 50%" class="card shadow">
            <div align="right"><a  id="exit" href="javascript:close_div();"><i class="far fa-times-circle fa-2x"></i></a></div>
            <form id="category_form" action="" method="post">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="category"><strong>Tên danh mục:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="category">
                    </div>  
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="parent"><strong>Danh mục cha:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="parent" name="parent">
                            <option>Không</option>
                            <% categories.forEach(category => { %>
                            <% if(!category.parent) {%>
                            <option><%= category.name %></option>
                            <% } %> 
                            <% }) %> 
                        </select>
                    </div>                                               
                </div>
                <div class="form-group text-center"><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
            </form>
        </div>
    </div>
    <div id="toggle_div_user" class="toggle_div" align="center">
        <div align="left" style="padding: 20px; width: 50%" class="card shadow">
            <div align="right"><a  id="exit" href="javascript:close_div();"><i class="far fa-times-circle fa-2x"></i></a></div>
            <form id="user_form" action="" method="post">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="name"><strong>Tên:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="name">
                    </div>  
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="dayOfBirth"><strong>Ngày sinh:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="date" name="dayOfBirth">
                    </div>  
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="email"><strong>Email:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email">
                    </div>  
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="password"><strong>Password:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="password">
                    </div>  
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group"><label for="role"><strong>Phân quyền:</strong></label></div>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="role" name="role">
                            <option>Bidder</option>
                            <option>Seller</option>
                            <option>Admin</option>
                        </select>
                    </div>                                               
                </div>
                <div class="form-group text-center"><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
            </form>
        </div>
    </div>
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
            <%- include('topbar', {thisUser: thisUser}); %>
            <div class="container-fluid">
                <div class="card shadow mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Quản lý danh mục</h6></div>
                    <div class="card-body">
                        <div style="width: 100%; padding-bottom: 20px" align="right">
                            <button type="button" class=" btn btn-info add-new" onclick="dim_div_category();"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Danh mục</th>
                                    <th>Danh mục cha</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<% var k = 1; %>
                            	<% categoriesShow.forEach(category => { %>
                                <tr>
                                    <td width="5%"><%= k %></td>
                                    <td width="42%"><a href="/detailCategory?id=<%= category._id %>"><%= category.name %></a></td>
                                    <% if (category.parent) { %>
                                    <td width="42%"><%= category.parent.name %></td>
                                    <% } else { %>
                                    <td width="42%">Không</td>
                                    <% } %>
                                    <td width="11%" align="center">
                                        <a style="color: yellow;" href="javascript:dim_div_category_edit('<%= category._id %>');" class="edit" ><i class="fas fa-edit"></i></a>
                                        <a style="color: red;" href="/deleteCategory?id=<%= category._id %>" class="delete"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <% k++ %>
                        		<% }) %>
                            </tbody>
                        </table>
                        <div class="col-md-7" style="padding-top: 10px">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                	<% if (categoryPage == 1) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?categoryPage=<%= categoryPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/adminPage?categoryPage=<%= categoryPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } %>
                                    <% for (var i = 0; i < (categories.length / 10); i++) { %>
                                    <% if (categoryPage == (i+1)) { %>
                                    <li class="page-item active"><a class="page-link" href="/adminPage?categoryPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?categoryPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } %>
                                    <% } %>
                                    <% if (categoryPage >= (categories.length / 10)) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?categoryPage=<%= categoryPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?categoryPage=<%= categoryPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Quản lý sản phẩm</h6></div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ảnh</th>
                                    <th>Ngày bán</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Người bán</th>
                                    <th>Trạng thái</th>
                                    <th>Giá cao nhất</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var k = 1; %>
                                <% productsShow.forEach(product => { %>
                                <tr>
                                    <% var thisTime = new Date().getTime(); %> %>
                                    <td width="5%"><%= k %></td>
                                    <td width="10%"><a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a></td>
                                    <td width="10%"><%= moment(product.startDate).format('DD/MM/YYYY LTS'); %></td>
                                    <td width="20%"><a href="/product?id=<%= product._id %>"><%= product.name %></a></td>
                                    <td width="20%"><a href="#"><%= product.seller.fullname %></a></td>
                                    <% var timeLeft = product.endDate.getTime() - thisTime; %>
                                    <% var countdown = moment.duration(timeLeft); %>
                                    <% if (timeLeft <= 0) { %>
                                    <td width="10%">Đã kết thúc</td>
                                    <% } else if (countdown.days() != 0) { %>
                                    <td width="10%">Còn lại: <%= countdown.days() + " ngày " + countdown.hours() + " giờ " %></td>
                                    <% } else { %>
                                    <td width="10%">Còn lại: <%= countdown.hours() + " giờ " + countdown.minutes() + "  phút " + countdown.seconds() + " giây " %></td>
                                    <% } %>
                                    <td width="15%"><%= product.startPrice %> VNĐ</td>
                                    <td width="10%" align="center">
                                        <a style="color: red;" href="/deleteProduct?id=<%= product._id %>" class="delete"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <% k++ %>
                                <% }) %>
                            </tbody>
                        </table>
                        <div class="col-md-7" style="padding-top: 10px">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <% if (productPage == 1) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?productPage=<%= productPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/adminPage?productPage=<%= productPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } %>
                                    <% for (var i = 0; i < products.length / 5; i++) { %>
                                    <% if (productPage == (i+1)) { %>
                                    <li class="page-item active"><a class="page-link" href="/adminPage?productPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?productPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } %>
                                    <% } %>
                                    <% if (productPage >= (products.length / 5)) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?productPage=<%= productPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?productPage=<%= productPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Quản lý người dùng</h6></div>
                    <div class="card-body">
                        <div style="width: 100%; padding-bottom: 20px" align="right">
                            <button type="button" onclick="dim_div_user();"  class=" btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Điểm đánh giá</th>
                                    <th>Email</th>
                                    <th>Phân quyền</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<% var k = 1; %>
                            	<% usersShow.forEach(user => { %>
                                <tr>
                                    <td width="5%"><%= k %></td>
                                    <% if (!user.image.data) { %>
                                    <td width="13%"><a href="#"><img class="rounded-circle mr-2" width="30" height="30" src="/img/avatars/no_image_user.png"><%= user.fullname %></a></td>
                                    <% } else { %>
                                    <td width="13%"><a href="#"><img class="rounded-circle mr-2" width="30" height="30" src="data:<%= user.image.contentType %>;base64,<%= user.image.data.toString('base64') %>"/><%= user.fullname %></a></td>
                                    <% } %>
                                    <td width="15%"><%= user.dateOfBirth %></td>
                                    <td width="15%"><%= user.ratedPoint %></td>
                                    <td width="15%"><%= user.mail %></td>
                                    <td width="12%"><%= user.role %></td>
                                    <td width="15%"><a href="#">Đang chờ duyệt lên seller</a></td>
                                    <td width="10%" align="center">
                                        <a style="color: yellow;" href="javascript:dim_div_user_edit('<%= user._id %>');" class="edit" ><i class="fas fa-edit"></i></a>
                                        <a style="color: red;" href="/deleteUser?id=<%= user._id %>" class="delete"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <% k++ %>
                        		<% }) %>
                            </tbody>
                        </table>
                        <div class="col-md-7" style="padding-top: 10px">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                	<% if (userPage == 1) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?userPage=<%= userPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/adminPage?userPage=<%= userPage - 1%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } %>
                                    <% for (var i = 0; i < users.length / 5; i++) { %>
                                    <% if (userPage == (i+1)) { %>
                                    <li class="page-item active"><a class="page-link" href="/adminPage?userPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?userPage=<%= i+1 %>"><%= i+1 %></a></li>
                                    <% } %>
                                    <% } %>
                                    <% if (userPage >= (users.length / 5)) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/adminPage?userPage=<%= userPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/adminPage?userPage=<%= userPage + 1%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/selectSearch.js"></script>
    <script>
        function dim_div_category() {
            document.getElementById("toggle_div_category").style.display="block";
            document.getElementById("category_form").action="/addCategory";
        }
        function dim_div_category_edit(id) {
            document.getElementById("toggle_div_category").style.display="block";
            document.getElementById("category_form").action="/editCategory?id="+id;
        }
        function close_div() {
            document.getElementsByClassName("toggle_div").style.display="none";
        }
        function dim_div_user() {
            document.getElementById("toggle_div_user").style.display="block";
            document.getElementById("user_form").action="/addUser";
        }
        function dim_div_user_edit(id) {
            document.getElementById("toggle_div_user").style.display="block";
            document.getElementById("user_form").action="/editUser?id="+id;
        }

    </script>
</body>

</html>