<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('topbar', {thisUser: thisUser}); %>
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="text-primary font-weight-bold m-0">Hot nhất</h3></div>
                    <div class="row card-body">
                        <% productsTopBid.forEach(product => { %>
                        <div class="col-md">
                            <% var thisTime = new Date().getTime(); %> 
                            <% if ((thisTime - product.startDate.getTime()) < 10*60*1000 ) { %>
                            <span style="padding-left: 20px; color: #00ff00">NEW</span>
                            <% } %>
                            <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                            <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff" align="center"><%= product.name %></h5></a>
                            <% if (!product.present.price) { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.startPrice %> VNĐ</h6>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#">Chưa có</a></h6>
                            <% } else { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.present.price %> VNĐ</h6>
                            <% var maskedString = "****" + product.present.bidder.fullname.slice(-4); %>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#"><%= maskedString %></a></h6>                            
                            <% } %>
                            <h6 style="color: #ffa500">Ngày đăng: <%= moment(product.startDate).format('DD/MM/YYYY'); %></h6>
                            <h6 style="color: #008000">Mua ngay: <%= product.purchasePrice %> VNĐ </h6>
                            <% var timeLeft = product.endDate.getTime() - thisTime; %>
                            <% var countdown = moment.duration(timeLeft); %>
                            <% if (countdown.days() != 0) { %>
                            <h6 style="color: #000066">Còn lại: <%= countdown.days() + " ngày " + countdown.hours() + " giờ " %></h6>
                            <% } else { %>
                            <h6 style="color: #000066">Còn lại: <%= countdown.hours() + " giờ " + countdown.minutes() + "  phút " + countdown.seconds() + " giây " %></h6>
                            <% } %>
                            <h6 style="color: #800080">Tổng lượt ra giá: <%= product.history.length %></h6>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="text-primary font-weight-bold m-0">Sắp kết thúc</h3></div>
                    <div class="row card-body">
                        <% productsEndSoon.forEach(product => { %>
                        <div class="col-md">
                            <% var thisTime = new Date().getTime(); %> 
                            <% if ((thisTime - product.startDate.getTime()) < 10*60*1000 ) { %>
                            <span style="padding-left: 20px; color: #00ff00">NEW</span>
                            <% } %>
                            <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                            <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff" align="center"><%= product.name %></h5></a>
                            <% if (!product.present.price) { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.startPrice %> VNĐ</h6>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#">Chưa có</a></h6>
                            <% } else { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.present.price %> VNĐ</h6>
                            <% var maskedString = "****" + product.present.bidder.fullname.slice(-4); %>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#"><%= maskedString %></a></h6>                            
                            <% } %>
                            <h6 style="color: #ffa500">Ngày đăng: <%= moment(product.startDate).format('DD/MM/YYYY'); %></h6>
                            <h6 style="color: #008000">Mua ngay: <%= product.purchasePrice %> VNĐ </h6>
                            <% var countDown = product.endDate.getTime() - thisTime; %>
                            <h6 style="color: #000066">Đếm ngược: <%= moment(Date(countDown)).format('DD/MM/YYYY LTS'); %></h6>
                            <h6 style="color: #800080">Tổng lượt ra giá: <%= product.history.length %></h6>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="text-primary font-weight-bold m-0">Giá cao nhất</h3></div>
                    <div class="row card-body">
                        <% productsTopPrice.forEach(product => { %>
                        <div class="col-md">
                            <% var thisTime = new Date().getTime(); %> 
                            <% if ((thisTime - product.startDate.getTime()) < 10*60*1000 ) { %>
                            <span style="padding-left: 20px; color: #00ff00">NEW</span>
                            <% } %>
                            <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                            <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff" align="center"><%= product.name %></h5></a>
                            <% if (!product.present.price) { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.startPrice %> VNĐ</h6>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#">Chưa có</a></h6>
                            <% } else { %>
                            <h6 style="color: #ff0000">Hiện tại: <%= product.present.price %> VNĐ</h6>
                            <% var maskedString = "****" + product.present.bidder.fullname.slice(-4); %>
                            <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#"><%= maskedString %></a></h6>                            
                            <% } %>
                            <h6 style="color: #ffa500">Ngày đăng: <%= moment(product.startDate).format('DD/MM/YYYY'); %></h6>
                            <h6 style="color: #008000">Mua ngay: <%= product.purchasePrice %> VNĐ </h6>
                            <% var countDown = product.endDate.getTime() - thisTime; %>
                            <h6 style="color: #000066">Đếm ngược: <%= moment(Date(countDown)).format('DD/MM/YYYY LTS'); %></h6>
                            <h6 style="color: #800080">Tổng lượt ra giá: <%= product.history.length %></h6>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
        </div>
    </footer>
    <div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>