<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signup</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-10">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Xác nhận email</h4>
                            </div>
                            <% if (error.length > 0) { %>
                            <div class="alert alert-danger"><%= error %></div>
                            <% } %>
                            <% if (success.length > 0) { %>
                            <div class="alert alert-success"><%= success %></div>
                            <% } %>
                            <form class="user" action="/accountActive" method="post"> 
                                <div class="form-group row">
                                    <div class="col-sm-9"><input class="form-control form-control-user" type="text" id="otp" placeholder="Mã xác nhận" name="otp"></div>
                                    <div class="col-sm-3"><button class="btn btn-primary btn-block text-white btn-user" type="submit">Xác nhận</button></div>
                                </div>
                            </form>
                            <div class="text-center"><a class="small" href="/sendOTP">Gửi lại mã xác nhận!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>