<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <style>
        .img-btn {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .img-btn img {
            width: 100%;
            height: auto;
        }

        .img-btn .btn {
            position: absolute;
            top: 9%;
            left: 88%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            background-color: #ffc0cb;
        }

        .img-btn .btn:hover {
            background-color: #ff99aa;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('topbar', {thisUser: thisUser}); %>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="text-primary font-weight-bold m-0">Danh sách sản phẩm</h3></div>
                        <div class="row card-body">
                            <div class="text-nowrap col-md-9">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Hiển thị&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="text-nowrap col-md-3">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Sắp xếp&nbsp;
                                    <select id="selectSort" class="form-control form-control-sm custom-select custom-select-sm" onchange="getSortType();">
                                        <option>Mặc định</option>
                                        <option value="1" >Sắp kết thúc</option>
                                        <option value="2" >Giá tăng dần</option>
                                        <option value="3" >Giá giảm dần</option>
                                    </select>&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="row card-body">
                            <% productsShow.forEach(product => { %>
                            <div class="col-md-3">
                                <% var thisTime = new Date().getTime(); %> 
                                <% if ((thisTime - product.startDate.getTime()) < 10*60*1000 ) { %>
                                <div style="display: inline-block;"><span style="padding-left: 20px; color: #00ff00">NEW</span><a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff; float: left;" align="center"><%= product.name %></h5></a></div>
                                <% } else { %>
                                <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff" align="center"><%= product.name %></h5></a>
                                <% } %>
                                <div class="img-btn">
                                    <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                    <% if (thisUser) { %>
                                    <a class="btn btn-primary" href="/addToFave?productId=<%= product._id %>" ><i class="fas fa-heart"></i></a>
                                    <% } else { %>
                                    <a class="btn btn-primary" href="#" ><i class="fas fa-heart"></i></a>
                                    <% } %>
                                </div>
                                <% if (!product.present.price) { %>
                                <h6 style="color: #ff0000">Hiện tại: <%= product.startPrice %> VNĐ</h6>
                                <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#">Chưa có</a></h6>
                                <% } else { %>
                                <h6 style="color: #ff0000">Hiện tại: <%= product.present.price %> VNĐ</h6>
                                <% var maskedString = "****" + product.present.bidder.fullname.slice(-4); %>
                                <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#"><%= maskedString %></a></h6>                            
                                <% } %>
                                <h6 style="color: #ffa500">Ngày đăng: <%= moment(product.startDate).format('DD/MM/YYYY'); %></h6>
                                <h6 style="color: #008000">Mua ngay: <%= product.purchasePrice %> VNĐ </h6>
                                <% var timeLeft = product.endDate.getTime() - thisTime; %>
                                <% var countdown = moment.duration(timeLeft); %>
                                <% if (countdown.days() != 0) { %>
                                <h6 style="color: #000066">Còn lại: <%= countdown.days() + " ngày " + countdown.hours() + " giờ " %></h6>
                                <% } else { %>
                                <h6 style="color: #000066">Còn lại: <%= countdown.hours() + " giờ " + countdown.minutes() + "  phút " + countdown.seconds() + " giây " %></h6>
                                <% } %>
                                <h6 style="color: #800080">Tổng lượt ra giá: <%= product.history.length %></h6>
                            </div>
                            <% }) %>
                        </div>
                        <div class="col-md-7">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <% if (page == 1) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/productList?page=<%= page - 1 %>&sort=<%= sortType%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/productList?page=<%= page - 1 %>&sort=<%= sortType%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <% } %>
                                    <% for (var i = 0; i <= (products.length / 12); i++) { %>
                                    <% if (page == (i+1)) { %>
                                    <li class="page-item active"><a class="page-link" href="/productList?page=<%= i + 1 %>&sort=<%= sortType%>"><%= i+1 %></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/productList?page=<%= i + 1 %>&sort=<%= sortType%>"><%= i+1 %></a></li>
                                    <% } %>
                                    <% } %>
                                    <% if (page >= (products.length / 12)) { %>
                                    <li class="page-item disabled"><a class="page-link" href="/productList?page=<%= page - 1 %>&sort=<%= sortType%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } else { %>
                                    <li class="page-item "><a class="page-link" href="/productList?page=<%= page - 1 %>&sort=<%= sortType%>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/selectSearch.js"></script>
    <script>
        function getSortType() {
            var sort = document.getElementById("selectSort").value;
            var categoryId = <%- JSON.stringify(categoryId) %>;
            location.replace("/productList?sort=" + sort);
        }
    </script>
</body>

</html>