<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <style>
        * {box-sizing: border-box}
        .mySlides {display: none}
        img {vertical-align: middle;}

        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .dotActive, .dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .prev, .next,.text {font-size: 11px}
        }
        .btn {
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }
        #exit {
            color: #ff0000;
        }
        #exit:hover {
            color: #b30000;
        }
        .toggle_div {
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 999;
            padding: 15%;
        }
    </style>
</head>

<body id="page-top">
    <div id="toggle_div" class="toggle_div" align="center">
        <div align="left" style="padding: 20px; width: 50%" class="card shadow">
            <div align="right"><a  id="exit" href="javascript:close_div();"><i class="far fa-times-circle fa-2x"></i></a></div>
            <form action="/bid?productId=<%= product._id %>" method="post">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="presentPrice"><strong>Giá hiện tại:</strong></label></div>
                    </div>
                    <div class="col-md-9">
                        <label class="form-control" type="text" name="presentPrice"><%= product.present.price %></label>
                    </div> 
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="priceStep"><strong>Bước giá:</strong></label></div>
                    </div>
                    <div class="col-md-9">
                        <label class="form-control" type="text" name="priceStep"><%= product.priceStep %></label>
                    </div> 
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="price"><strong>Giá đưa ra:</strong></label></div>
                    </div>
                    <div class="col-md-9">
                        <% if(!product.present.price) {%>
                        <input class="form-control" type="number" min="<%= product.startPrice + product.priceStep %>" name="price">
                        <% } else { %>
                        <input class="form-control" type="number" min="<%= product.present.price + product.priceStep %>" name="price">
                        <% } %>
                    </div>                                               
                </div>
                <div class="form-group text-center"><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
            </form>
        </div>
    </div>
    <div id="toggle_div_p" class="toggle_div" align="center">
        <div align="left" style="padding: 20px; width: 50%" class="card shadow">
            <div align="right"><a  id="exit" href="javascript:close_div_p();"><i class="far fa-times-circle fa-2x"></i></a></div>
            <form action="/purchase?productId=<%= product._id %>" method="post">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="price"><strong>Giá mua ngay:</strong></label></div>
                    </div>
                    <div class="col-md-9">
                        <label class="form-control" type="text" name="price"><%= product.purchasePrice %></label>
                    </div> 
                </div>
                <div class="form-group text-center"><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
            </form>
        </div>
    </div>
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('topbar', {thisUser: thisUser}); %>
                <div class="container">
                    <div class="block-content">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 class="text-primary font-weight-bold m-0">Thông tin sản phẩm</h3></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Slideshow container -->
                                    <div class="slideshow-container">
                                        <% var k = 1 %>
                                        <% product.image.forEach(image => { %>
                                        <div class="mySlides fade">
                                            <div class="numbertext"><%= k %> / <%= product.image.length %></div>
                                            <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>" style="width:100%">
                                        </div>
                                        <% k++ %>
                                        <% }) %>
                                      
                                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                    </div>
                                    <br>

                                    <!-- The dots/circles -->
                                    <div style="text-align:center">
                                        <% for (var i=0; i < product.image.length; i++) { %>
                                        <span class="dot" onclick="currentSlide(<%= i+1 %>)"></span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-top: 50px;">
                                    <h4 style="color: #0000ff"><%= product.name %></h4>
                                    <% if(thisUser) { %>
                                    <button style="background-color: #ffc0cb; width: 200px" class="btn btn-primary" type="button"><i class="fas fa-heart"></i> Thêm vào yêu thích</button>
                                    <div style="padding-top: 20px;">
                                        <% if (!product.present.price) { %> 
                                        <h5 style="color: #ff0000">Giá hiện tại: <%= product.startPrice %> VNĐ</h5>
                                        <% } else { %> 
                                        <h5 style="color: #ff0000">Giá hiện tại: <%= product.present.price %> VNĐ</h5>
                                        <% } %>
                                        <button style="background-color: #ff0000; width: 200px" onclick="dim_div();" class="btn btn-primary" type="button"><i class="fas fa-gavel"></i> Đấu giá</button>
                                    </div>
                                    <div style="padding-top: 20px;">
                                        <h5 style="color: #008000">Giá mua ngay: <%= product.purchasePrice %> VNĐ</h5>
                                        <button style="background-color: #008000; width: 200px" onclick="dim_div_p();" class="btn btn-primary" type="button"><i class="fas fa-shopping-cart"></i> Mua ngay</button>    
                                    </div>
                                    <% } else { %>
                                    <button style="background-color: #ffc0cb; width: 200px" onclick="alertMessage('Cần phải đăng nhập để thêm sản phẩm vào danh sách yêu thích');" class="btn btn-primary" type="button"><i class="fas fa-heart"></i> Thêm vào yêu thích</button>
                                    <div style="padding-top: 20px;">
                                        <h5 style="color: #ff0000">Giá hiện tại: <%= product.present.price %> VNĐ</h5>
                                        <button style="background-color: #ff0000; width: 200px" onclick="alertMessage('Cần phải đăng nhập để đấu giá sản phẩm');" class="btn btn-primary" type="button"><i class="fas fa-gavel"></i> Đấu giá</button>
                                    </div>
                                    <div style="padding-top: 20px;">
                                        <h5 style="color: #008000">Giá mua ngay: <%= product.purchasePrice %> VNĐ</h5>
                                        <button style="background-color: #008000; width: 200px" onclick="alertMessage('Cần phải đăng nhập để mua sản phẩm');" class="btn btn-primary" type="button"><i class="fas fa-shopping-cart"></i> Mua ngay</button>    
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item text-primary font-weight-bold m-0"><a class="nav-link active" role="tab" data-toggle="tab" id="description-tab" href="#description">Mô tả sản phẩm</a></li>
                                <li class="nav-item text-primary font-weight-bold m-0"><a class="nav-link" role="tab" data-toggle="tab" id="specifications-tabs" href="#infor">Thông tin đấu giá</a></li>
                                <li class="nav-item text-primary font-weight-bold m-0"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#data">Danh sách đấu giá</a></li>
                            </ul>
                            <div style="padding: 100px; padding-top: 20px; padding-bottom: 20px;" class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                    <%- product.description %>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="infor">
                                    <div class="table-responsive table-bordered">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="stat">Thông tin seller</td>
                                                    <td><%= product.seller.fullname %></td>
                                                    <td>Điểm đánh giá: <%= product.seller.ratedPoint %>%</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Thông tin top bidder</td>
                                                    <% if (!product.present.price) { %>
                                                    <td>Chưa có</td>
                                                    <td>Điểm đánh giá: %</td>
                                                    <% } else { %>
                                                    <td><%= product.present.bidder.fullname %></td>
                                                    <td>Điểm đánh giá: <%= product.present.bidder.ratedPoint %>%</td>
                                                    <% } %>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Thời điểm đăng</td>
                                                    <td colspan="2"><%= moment(product.startDate).format('DD/MM/YYYY LTS'); %></td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Thời điểm kết thúc</td>
                                                    <td colspan="2"><%= moment(product.endDate).format('DD/MM/YYYY LTS'); %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="data">
                                    <div class="row">
                                        <div class="text-nowrap">
                                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="5" selected="">5</option><option value="10">10</option><option value="25">25</option></select>&nbsp;</label></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                        <table class="table table-bordered dataTable my-0" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Thời điểm</th>
                                                    <th>Người mua</th>
                                                    <th>Giá</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var k = 1; %>
                                                <% product.history.forEach(history => { %>
                                                <tr>
                                                    <td><%= k %></td>
                                                    <td><%= moment(history.date).format('DD/MM/YYYY LTS'); %></td>
                                                    <% var maskedString = "****" + history.bidder.fullname.slice(-4); %>
                                                    <td><%= maskedString; %></td>
                                                    <td><%= history.price %></td>
                                                </tr>
                                                <% k++ %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 align-self-center">
                                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                        </div>
                                        <div class="col-md-6">
                                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="text-primary font-weight-bold m-0">Các sản phẩm khác</h6></div>
                            <div class="row card-body">
                                <div class="col-md">
                                    <img  class="img-fluid" src="/img/dogs/image1.jpeg">
                                    <h5 style="color: #0000ff" align="center">Tên sản phẩm</h5></a>
                                    <h6 style="color: #ff0000">Hiện tại: 1.350.000 VNĐ</h6>
                                    <h6 style="color: #ffa500">Ngày đăng: 22/11/2019</h6>
                                    <h6 style="color: #808000">Người ra giá: <a style="color: #663300" href="#">Lê Huy</a></h6>
                                    <h6 style="color: #008000">Mua ngay: 2.000.000 VNĐ </h6>
                                    <h6 style="color: #000066">Đếm ngược: 13 giờ 17 phút</h6>
                                    <h6 style="color: #800080">Tổng lượt ra giá: 15 lượt</h6>
                                </div>
                                <div class="col-md">
                                    <img  class="img-fluid" src="/img/dogs/image1.jpeg">
                                </div>
                                <div class="col-md">
                                    <img  class="img-fluid" src="/img/dogs/image1.jpeg">
                                </div>
                                <div class="col-md">
                                    <img  class="img-fluid" src="/img/dogs/image1.jpeg">
                                </div>
                                <div class="col-md">
                                    <img  class="img-fluid" src="/img/dogs/image1.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/selectSearch.js"></script>
    <script>
        function alertMessage(message) {
            alert(message);
        }
        function dim_div() {
            document.getElementById("toggle_div").style.display="block";
        }
        function close_div() {
            document.getElementById("toggle_div").style.display="none";
        }
        function dim_div_p() {
            document.getElementById("toggle_div_p").style.display="block";
        }
        function close_div_p() {
            document.getElementById("toggle_div_p").style.display="none";
        }
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" dotActive", "");
          }
          
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " dotActive";
        }
    </script>
</body>

</html>