<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('topbar', {thisUser: thisUser}); %>
            <div class="container-fluid" >
                <div class="card shadow mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Quản lý danh mục</h6></div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="/postProduct" id="newProductForm">
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label >Tên sản phẩm:</label>
                                    <input class="form-control" name="name" type="text">
                                    <label >Chuyên mục cha:</label>
                                    <select class="form-control" id="parent" name="parent" onchange="getCategory();">
                                        <option></option>
                                        <% categories.forEach(category => { %>
                                        <% if(!category.parent) {%>
                                        <option value="<%= category.name %>"><%= category.name %></option>
                                        <% } %> 
                                        <% }) %> 
                                    </select>
                                    <label >Chuyên mục con:</label>
                                    <select class="form-control" id="category" name="category">   
                                    </select>
                                    <label >Ảnh đại diện:</label>
                                    <br>
                                    <input name="image" id="image" accept="image/*" multiple="multiple" type="file">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label >Giá khởi điểm:</label>
                                    <input class="form-control"  name="startPrice" type="number" step="100000">
                                    <label >Bước giá:</label>
                                    <input class="form-control"  name="priceStep" type="number" min="100000">
                                    <label >Giá mua ngay:</label>
                                    <input class="form-control"  name="purchasePrice" type="number" step="100000">
                                    <br>
                                    <input type="checkbox" name="autoRenew"> Có tự động gia hạn
                                </div>
                            </div>
                            <label >Mô tả sản phẩm:</label>
                            <textarea name="ckeditor" id="ckeditor">
                                This is my textarea to be replaced with CKEditor.
                            </textarea>
                            <script>
                                CKEDITOR.replace( 'ckeditor',{
                                    filebrowserUploadUrl: '/upload',
                                    filebrowserUploadMethod: 'form'
                                });
                            </script>
                            <button style="display: block; margin: 0 auto; margin-top:10px;" class="btn btn-primary text-white btn-user" type="submit">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/selectSearch.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'ckeditor',{
            filebrowserUploadUrl: '/upload',
            filebrowserUploadMethod: 'form'
        });
        function getCategory() {
            var categoryList = document.getElementById("category");
            while (categoryList.firstChild) {
                categoryList.removeChild(categoryList.firstChild);
            }
            var categories = <%- JSON.stringify(categories) %>;
            categories.forEach(category => { 
                if (category.parent && category.parent.name == document.getElementById("parent").value) {
                    var option = document.createElement("option");
                    option.innerHTML = category.name;
                    categoryList.appendChild(option);
                }
            });
        }
        $("#image").on("change", function() {
            if ($("#image")[0].files.length < 3) {
                alert("Cần chọn tối thiểu 3 ảnh đại diện");
                document.getElementById('image').value = "";
            }
        });
    </script>
</body>

</html>