<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fa fa-home"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Trang chủ</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
        	<% categories.forEach(category => { %>
	        	<% if (!category.parent) { %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="/category/<%= category._id%>" id="navbardrop" data-toggle="dropdown"><%= category.name %></a>
					<div class="dropdown-menu">
						<% categories.forEach(category2 => { %>
							<% if (category2.parent && (category._id.toString() == category2.parent._id.toString())) { %>
							<a class="dropdown-item" href="/category/<%= category2._id%>"><%= category2.name %></a>
							<% } %>
						<% }) %>
					</div>
				</li>
				<% } %>
			<% }) %>
    	</ul>
	</div>
</nav>