<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signup</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Đăng ký tài khoản</h4>
                            </div>
                            <% if (error.length > 0) { %>
                            <div class="alert alert-danger"><%= error %></div>
                            <% } %>
                            <% if (success.length > 0) { %>
                            <div class="alert alert-success"><%= success %></div>
                            <% } %>
                            <form id="signup_form" action="/signup" method="post" class="user">
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="exampleFullname" placeholder="Họ tên" name="fullname"></div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="exampleAddress" placeholder="Địa chỉ" name="address"></div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" name="email"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Mật khẩu" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Xác nhận mật khẩu" name="password_repeat"></div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6LdW_sgUAAAAAFVGPlFkWVZWZ-F7Ola05XKFL10i"></div>
                                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Đăng ký</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Đăng ký bằng Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Đăng ký bằng Facebook</a><hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password">Quên mật khẩu?</a></div>
                            <div class="text-center"><a class="small" href="login">Đã có tài khoản? Đăng nhập!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?" async defer></script>
    
</body>

</html>