<nav class="navbar navbar-inverse navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <select class="nav navbar-nav navbar-right form-control col-md-2" id="searchSelect" name="searchType" onchange ="getSearchType();">
            <option></option>
            <option value="1">Tên sản phẩm</option>
            <option value="2">Danh mục</option>
        </select>
        <form id="searchForm" action="/search" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="searchString" id="searchField" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>
            </div>
        </form>
        <% if (!thisUser) { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><i class="fas fa-user"></i> Sign Up </a></li>&emsp;
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
        <% } else { %>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                <a class="dropdown-toggle nav-link" aria-expanded="false" href="/newProduct"><i class="fas fa-plus-square"></i></a>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow" role="presentation">
                <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small"><%=thisUser.fullname%></span><img class="border rounded-circle img-profile" src="/img/avatars/no_image_user.png"></a>
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="/profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="/productList">&nbsp;ProductList</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" role="presentation" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                    </div>
                </li>
            </li>
        </ul>
        <% } %>
    </div>
</nav>