<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <style>
        #exit {
            color: #ff0000;
        }
        #exit:hover {
            color: #b30000;
        }
        #toggle_div {
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 999;
            padding: 5%;
        }
    </style>
</head>

<body id="page-top">
    <div id="toggle_div">
        <div align="right"><a  id="exit" href="javascript:close_div();"><i class="far fa-times-circle fa-2x"></i></a></div>
        <div style="padding: 20px; height: 90%;" class="card shadow mb-4 table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered dataTable my-0" id="dataTable">
                <thead>
                    <tr>
                        <th width="10%">Đánh giá</th>
                        <th width="20%">Người đánh giá</th>
                        <th width="70%">Lời nhận xét</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>Rất tốt tôi rất vui khi được làm việc chung</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-down"></i> -1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-thumbs-up"></i> +1</td>
                        <td>****Lâm</td>
                        <td>700.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="wrapper">
        <%- include('sidebar', {categories: categories}); %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
             <%- include('topbar', {thisUser: thisUser}); %>   
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="/img/avatars/no_image_user.png" width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Điểm đánh giá</h6>
                            </div>
                            <div class="card-body">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Phần trăm đánh giá</p>
                                                <p class="m-0"><strong><%= thisUser.ratedPoint %></strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-smile fa-2x"></i></div>
                                        </div>
                                        <a id="triggeringlink" href="javascript:dim_div();" class="text-white-50 small m-0"><i class="far fa-thumbs-up"></i>&nbsp;Xem các lượt đánh giá</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Thay đổi thông tin cá nhân</p>
                                    </div>
                                    <div class="card-body">
                                        <form action="/editProfile" method="post">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="full-name"><strong>Họ và tên</strong></label><input class="form-control" type="text" placeholder="<%= thisUser.fullname %>" name="full-name"></div>
                                                </div>                                            
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="email"><strong>Email</strong></label><input class="form-control" type="email" placeholder="<%= thisUser.mail %>" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="password"><strong>Mật khẩu mới</strong></label><input class="form-control" type="password" placeholder="" name="newPassword"></div>
                                                </div>                                              
                                                <div class="col">
                                                    <div class="form-group"><label for="password"><strong>Nhập mật khẩu cũ</strong></label><input class="form-control" type="password" placeholder="" name="password"></div>
                                                </div>
                                            </div>
                                            <div class="form-group text-center"><button class="btn btn-primary btn-sm" type="submit">Lưu thay đổi</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Danh sách yêu thích</p>
                            </div>
                            <div class="card-body">
                                <% thisUser.favoriteProducts.forEach(product => { %>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-md-2">
                                        <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff"><%= product.name %></h5></a>
                                        <a href="#"><h6 style="color: #ffa500"><%= product.seller.fullname %></h6></a>
                                    </div>
                                    <div class="col-md-2" align="right">
                                        <a  style="color: red;" href="#"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Danh sách đã thắng</p>
                            </div>
                            <div class="card-body">
                                <% thisUser.productsWon.forEach(product => { %>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-md-2">
                                        <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="#"><h5 style="color: #0000ff"><%= product.name %></h5></a>
                                        <a href="#"><h6 style="color: #ffa500"><%= product.seller.fullname %></h6></a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Danh sách tham gia</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% thisUser.productsBid.forEach(product => { %>
                            <div class="col-md">
                                <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff" align="center"><%= product.name %></h5>
                                <img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                <% if (product.present.bidder.toString() == thisUser._id.toString()) { %>
                                <h6 style="color: #00ff00" align="center">Đang là cao nhất</h6>
                                <% } else { %>
                                <h6 style="color: #ff0000" align="center">Cần trả cao hơn</h6>
                                <% } %>                                
                                <h6 style="color: #008000">Hiện tại: <%= product.present.price %></h6>
                                <% var thisTime = new Date().getTime(); %> 
                                <% var timeLeft = product.endDate.getTime() - thisTime; %>
                                <% var countdown = moment.duration(timeLeft); %>
                                <% if (countdown.days() != 0) { %>
                                <h6 style="color: #ff9900">Còn lại: <%= countdown.days() + " ngày " + countdown.hours() + " giờ " %></h6>
                                <% } else { %>
                                <h6 style="color: #ff9900">Còn lại: <%= countdown.hours() + " giờ " + countdown.minutes() + "  phút " + countdown.seconds() + " giây " %></h6>
                                <% } %>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% if (thisUser.role != "Bidder") { %>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Danh sách đang bán</p>
                            </div>
                            <div class="card-body">
                                <% thisUser.productsSel.forEach(product => { %>
                                <% var thisTime = new Date().getTime(); %> 
                                <% if (product.endDate.getTime() <= thisTime) { %>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-md-2">
                                        <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="/product?id=<%= product._id %>"><h5 style="color: #0000ff"><%= product.name %></h5></a>
                                        <% var countdown = moment.duration(timeLeft); %>
                                        <% if (countdown.days() != 0) { %>
                                        <h6 style="color: #ff9900">Còn lại: <%= countdown.days() + " ngày " + countdown.hours() + " giờ " %></h6>
                                        <% } else { %>
                                        <h6 style="color: #ff9900">Còn lại: <%= countdown.hours() + " giờ " + countdown.minutes() + "  phút " + countdown.seconds() + " giây " %></h6>
                                        <% } %>
                                    </div>
                                </div>
                                <% } %>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Danh sách đã có người mua</p>
                            </div>
                            <div class="card-body">
                                <% thisUser.productsSel.forEach(product => { %>
                                <% var thisTime = new Date().getTime(); %> 
                                <% if (product.present.price && (product.endDate.getTime() <= thisTime)) { %>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-md-2">
                                        <a href="/product?id=<%= product._id %>"><img class="img-fluid" src="data:<%= product.image[0].contentType %>;base64,<%= product.image[0].data.toString('base64') %>"/></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="#"><h5 style="color: #0000ff"><%= product.name %></h5></a>
                                        <a href="#"><h6 style="color: #ffa500"><%= product.present.price.fullname %></h6></a>
                                    </div>
                                </div>
                                <% } %>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/selectSearch.js"></script>
    <script>
        function dim_div() {
            document.getElementById("toggle_div").style.display="block";
        }
        function close_div() {
            document.getElementById("toggle_div").style.display="none";
        }
    </script>
</script>
</body>

</html>